/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.sub3remodal-bg.sub3remodal-is-opening,
.sub3remodal-bg.sub3remodal-is-opened {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.sub3remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.sub3remodal-overlay.sub3remodal-is-opening,
.sub3remodal-overlay.sub3remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.sub3remodal-overlay.sub3remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.sub3remodal-overlay.sub3remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.sub3remodal-wrapper {
  padding: 10px 10px 0;
  overflow:hidden;

}

/*  transform:scale(0.87); */

/* Default theme styles of the modal dialog */

.sub3remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.sub3remodal-is-initialized {
    /*transform:scale(0.8)!important;*/
}

.sub3remodal.sub3remodal-is-opening,
.sub3remodal.sub3remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.sub3remodal.sub3remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.sub3remodal.sub3remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.sub3remodal,
.sub3remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.sub3remodal-close {
  position: absolute;
  top: 0;
  left: 96%;

  display: block;
  overflow: visible;

  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  text-decoration: none;

  color: #b1b0b0;
  border: 0;
  outline: 0;
  background: transparent;
}

.sub3remodal-close:hover,
.sub3remodal-close:focus {
  color: #ffffff;
  background: transparent;
}

.sub3remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 40px;
  line-height: 40px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 40px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.sub3remodal-confirm,
.sub3remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 6px 0;

  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.sub3remodal-confirm {
  color: #fff;
  background: #4b4b4b;
  border: #4b4b4b 1px solid;
}

.sub3remodal-end {
    color: #fff !important;
    background: #fff !important;
    width: 1px !important;
    border: 0px !important;
}

.sub3remodal-confirm:hover,
.sub3remodal-confirm:focus {
  color: #000!important;
  background: #fff!important;
}

.sub3remodal-cancel {
  color: #fff;
  background: #4b4b4b;
  border: #4b4b4b 1px solid;
}

.sub3remodal-cancel:hover,
.sub3remodal-cancel:focus {
  color: #000!important;
  background: #fff!important;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.sub3remodal-confirm::-moz-focus-inner,
.sub3remodal-cancel::-moz-focus-inner,
.sub3remodal-close::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    -webkit-transform: none;
    transform: none;

    opacity: 1;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
  }
  to {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);

    opacity: 0;

    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .sub3remodal {
    max-width: 1000px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .sub3remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .sub3remodal {
  width: 0px;
}
