<div class="subremodal-form-group-popup">
    <label class="custom-popup-label-group">Propinsi</label>
    <div class="custom-popup-input-group">
        <input id="nama" data-id="propinsi01" next-el="remodal-confirm" class="form-control" data-mandatory="true" dataType="string" maxlength="200" validation-string="Propinsi" name="NAMA" value="@ViewBag.nama" >
        <div class="nama validation-result" style="display: none;"></div>
    </div>
</div>
<input type="hidden" name="AUTONUMBER_TMP" id="AUTONUMBER_TMP" value="@ViewBag.autonumber" nosave />